*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#signIn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 100px;
    background-color: rgb(126, 236, 255);
    padding: 10px;
}

#check{
    display: flex;
    flex-direction: row;
}

#accept{
    background-color: hsl(271, 100%, 84%);
    border: none;
    padding: 5px;
    border-radius: 5px;
}